# Built artifacts
bin
gen
out
build
app/build

# IDE-specific files
.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings
.factorypath

# Gradle files
.gradle
gradle-app.setting
!gradle-wrapper.jar

# Local properties
local.properties

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Captures
captures/
